.section-2{
    width: 100%;
    height: 800px;
     background-size: cover;
     background-repeat: no-repeat;

}

.box-categorias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items:center ;
    gap: 10px;
  
}

.btn-comprar{
    display: flex;
   align-items: center;

}

.box-titulo {
    font-size: 40px;
    font-weight: 100;
}