.add{
    display: flex;
    background-color: black;
    justify-content: center;
    color: aliceblue;
    height: 50px;
}

.logo{
height: 100px;
width: auto;
}

.pesquisa{
     display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 0px;
  padding: 5px 10px;
  background-color: #D9D9D9;
  width: 800px;
}

.pesquisa input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: black;
  padding: 8px 10px;
}

.icons{
    font-size: 25px;
}

.caixa-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.icones-de-seleçao{
    display: flex;
    gap: 5px;
  
}
.btn-icons{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
}

.categorias{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    border: none;
    justify-content: space-evenly;
    
}

.ctg{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
}

